# Copyright (C) ShapeBlue Ltd - All Rights Reserved
# Unauthorized copying of this file, via any medium is strictly prohibited
# Proprietary and confidential
# Released by ShapeBlue <info@shapeblue.com>, April 2014
[cloudstack]
name=cloudstack
baseurl={{ baseurl_cloudstack }}
enabled=1
gpgcheck=1
